.main {
  margin-top: 10%;
}
.mainClick {
  margin-top: 2%;
}
body {
  background-color: #315ab0;
}
.fix {
  border: 2px solid #55ad38;
  border-radius: 5px;
  background-color: #62c93a;
  padding: 10px;
}
h1,
h4 {
  color: #f0e6e6;
}
